doctype html
html(lang="ja")
  head
    include html/common/head.pug
    link(rel='stylesheet', href='sass/style.scss')

  body
    div.container
      section.section
        include html/components/buttons/buttons.pug
        //- include html/components/news-lists/news-lists.pug

    //- スクリプト読込
    script(src='scripts/index.ts')
