doctype html
html(lang="ja")
  head
    include html/common/head.pug
    link(rel='stylesheet', href='sass/style.scss')

  body
    div.container
      section.section
        include html/components/buttons/buttons.pug
        //- include html/components/news-lists/news-lists.pug
        //- include html/components/cards/cards.pug
        //- include html/components/scroll-anims/scroll-anims.pug
        //- include html/components/carousels/carousels.pug
        //- include html/components/heros/heros.pug
        //- include html/components/headings/headings.pug
        //- include html/components/service-lists/service-lists.pug
        //- include html/components/faqs/faqs.pug
        //- include html/components/accordions/accordions.pug
        //- include html/components/contacts/contacts.pug
        //- include html/components/menus/menus.pug
        //- include html/components/galleries/galleries.pug
        //- include html/components/others/others.pug

    //- include html/sections/01/sections01.pug

    //- スクリプト読込
    script(src='scripts/index.ts')
