$BLOCK_NAME: '.section-contact';
$width_contact_arrow: 1px;

#{ $BLOCK_NAME } {
  &__link {
    position: relative;
    display: block;
    color: Color(white);
    text-align: center;
    background: Color(primary);
    &:hover {
      color: Color(white);
    }
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background: Color(primaryDark);
      transition: transform Dur(fast) Ease();
      transform: scaleX(0);
      transform-origin: right;
    }
    &:hover::before {
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  &__inner {
    position: relative;
    width: 87.5%;
    max-width: 1104px;
    padding: 60px 0;
    margin: 0 auto;
    @include Mq(tb) {
      padding: 135px 0;
    }
  }

  &__heading {
    position: relative;
    z-index: 1;
    margin-bottom: 16px;
    font-family: Ff(en);
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
    @include Mq(tb) {
      margin-bottom: 25px;
      font-size: 50px;
    }
  }

  &__text {
    position: relative;
    z-index: 1;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.1em;
    @include Mq(tb) {
      font-size: 17px;
    }
  }

  &__arrow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    width: 16px;
    height: 16px;
    margin: auto;
    border: $width_contact_arrow solid Color(white);
    border-radius: 50%;
    @include Mq(tb) {
      width: 40px;
      height: 40px;
    }
    &::before {
      position: absolute;
      top: 0;
      right: 50%;
      bottom: 0;
      left: -50%;
      display: block;
      height: $width_contact_arrow;
      margin: auto;
      content: '';
      background: Color(white);
      transition: transform Dur(fast) Ease();
      @include Mq(tb) {
        transform: translateX(-10px);
      }
      @at-root #{ $BLOCK_NAME }:hover & {
        transform: translateX(0);
      }
    }
  }
}
