<div id="js-header-menu" class="header-menu js-fix-content">
  <div class="header-menu__content">
    <ul class="header-menu__items">
      <li><a href="#" class="header-menu__item">リンク1</a></li>
      <li><a href="#" class="header-menu__item">リンク2</a></li>
      <li><a href="#" class="header-menu__item">リンク3</a></li>
      <li><a href="#" class="header-menu__item">リンク4</a></li>
      <li><a href="#" class="header-menu__item">リンク5</a></li>
    </ul>
    <button class="header-menu__close js-header-close"></button>
  </div>
</div>
