<header class="header js-fix-content">
  <div class="header__inner container">
    <a href="#" class="header__logo">
      {# <img src="https://via.placeholder.com/120x40/ffffff/363f4d/?text=LOGO" alt=""> #}
      LOGO
    </a>
    <ul class="header__nav">
      <li><a href="#" class="header__nav-link">リンク1</a></li>
      <li><a href="#" class="header__nav-link">リンク2</a></li>
      <li><a href="#" class="header__nav-link">リンク3</a></li>
      <li><a href="#" class="header__nav-link">リンク4</a></li>
      <li><a href="#" class="header__nav-link">リンク5</a></li>
    </ul>
    <button class="header__button" id="js-header-button">MENU</button>
  </div>
</header>

{% include './header-menu.njk' %}
