{# 「gulp-htmlmin」での圧縮が効かなかったため、元の記述をVScode側で圧縮しておく #}
{# <script>
  document.documentElement.style.overflow = 'hidden';
  setTimeout(() => {
    var docDisplay = document.getElementById('js-loader').style.display;
    if (!docDisplay === 'display') {
      docDisplay = 'none';
      document.documentElement.style.overflow = null;
    }
  }, 10000);
</script> #}

<script>document.documentElement.style.overflow = 'hidden';setTimeout(() => {var docDisplay = document.getElementById('js-loader').style.display;if (!docDisplay === 'display') {docDisplay = 'none';document.documentElement.style.overflow = null;}}, 10000);</script>
