a {
  color: inherit;
  &:hover {
    color: inherit;
  }
}
img {
  vertical-align: bottom;
}

@import "common/variables";
@import "common/mixins";
@import "common/plugins";

// パーツ
// @import "components/buttons/buttons";
@import "components/news-lists/news-lists";
// @import "components/cards/cards";
// @import "components/scroll-anims/scroll-anims";
// @import "components/carousels/carousels";
// @import "components/heros/heros";
// @import "components/headings/headings";

// セクション
// @import "sections/01/sections01";
