a {
  color: inherit;
  &:hover {
    color: inherit;
  }
}
img {
  vertical-align: bottom;
}

@import "common/variables";
@import "common/mixins";

// パーツ
@import "components/buttons/buttons";
@import "components/news-lists/news-lists";
@import "components/cards/cards";
