@charset 'utf-8';
$BLOCK_NAME: '.button';

#{ $BLOCK_NAME } {
  position: relative;
  display: block;
  padding-left: 1.5em;
  font-size: 17px;
  font-weight: bold;
  line-height: 66px;
  color: Color(white);
  letter-spacing: 0.25em;
  background: Color(primary);
  border-radius: 99em;
  box-shadow: Shadow();
  transition: transform Dur() Ease();
  &__arrow {
    position: absolute;
    top: 0;
    right: 21px;
    bottom: 0;
    display: block;
    width: 33px;
    height: 33px;
    margin: auto 0;
    content: '';
    border: 3px solid Color(white);
    border-radius: 50%;
    transition: background-color Dur() Ease();
    &::before {
      position: absolute;
      top: 0;
      right: 10px;
      bottom: 0;
      display: block;
      width: 11px;
      height: 11px;
      margin: auto 0;
      content: '';
      border: solid Color(white);
      border-width: 3px 3px 0 0;
      transition: border-color Dur() Ease();
      transform: rotate(45deg);
    }
  }
  &:hover {
    color: Color(white);
    transform: scale(1.05);
  }
  &:hover &__arrow {
    background: Color(white);
    &::before {
      border-color: Color(primary);
    }
  }
}
