@charset 'utf-8';
$BLOCK_NAME: '.hero-nav';

#{ $BLOCK_NAME } {
  &__item {
    position: relative;
    display: block;
    padding: 12px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    transition: color Dur() Ease();
    @include Mq(md) {
      padding: 16px;
      font-size: 20px;
    }
    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      height: 4px;
      content: '';
      background: Color(primary);
      border-radius: 2px;
      opacity: 0.2;
      transition: opacity Dur() Ease();
    }
    &:hover {
      color: Color(primary);
      &::after {
        opacity: 1;
      }
    }
  }
}
