@charset 'utf-8';
$BLOCK_NAME: '.hero-news';

#{ $BLOCK_NAME } {
  position: relative;
  z-index: 1;
  margin-top: -32px;

  &__content {
    display: block;
    padding: 16px;
    background: Color(white);
    box-shadow: Shadow();
    @include Mq(md) {
      display: flex;
      padding: 0;
    }
  }

  &__date {
    display: inline-block;
    width: 140px;
    padding: 4px 0 6px;
    font-size: 14px;
    color: Color(white);
    text-align: center;
    background: Color(primary);
    @include Mq(md) {
      flex-shrink: 0;
      padding: 9px 0 12px;
    }
  }

  &__text {
    display: block;
    margin-top: 8px;
    color: Color(primary);
    transition: color Dur(fast) Ease();
    @at-root #{ $BLOCK_NAME }__content:hover & {
      color: rgba(Color(primary), Op());
    }
    @include Mq(md) {
      flex-grow: 1;
      padding: 8px 24px 12px;
      margin-top: 0;
    }
  }
}
