@charset 'utf-8';
$BLOCK_NAME: '.service-list';
$BLOCK_ITEM_NAME: '.service-list-item';
$offset_heading: 8px;

#{ $BLOCK_NAME } {
  box-shadow: Shadow();
}

#{ $BLOCK_ITEM_NAME } {
  position: relative;
  display: block;
  background: Color(black);

  &__heading {
    position: absolute;
    top: $offset_heading;
    right: $offset_heading;
    bottom: $offset_heading;
    left: $offset_heading;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 900;
    color: Color(white);
    text-align: center;
    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      display: block;
      content: '';
      border: 6px solid transparent;
      border-right-color: Color(white);
      border-bottom-color: Color(white);
      opacity: 0.8;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(Color(primary), 0.6);
    transition: background-color Dur(fast) Ease();
    @at-root #{ $BLOCK_ITEM_NAME }:hover & {
      background: rgba(Color(secondary), 0.8);
    }
  }
}
