<div class="header-button__wrapper js-fix-content">
  <a href="#" id="js-header-button" class="header-button">
    <div class="header-button__bar">
      <div class="header-button__bar-item"></div>
      <div class="header-button__bar-item"></div>
      <div class="header-button__bar-item"></div>
    </div>
  </a>
</div>
