<div id="js-header-menu" class="header-menu">
  <ul class="header-menu__items">
    <li><a href="#" class="header-menu__item">LINK 01</a></li>
    <li><a href="#" class="header-menu__item">LINK 02</a></li>
    <li><a href="#" class="header-menu__item">LINK 03</a></li>
    <li><a href="#" class="header-menu__item">LINK 04</a></li>
  </ul>
</div>
