<!-- 参考：https://www.teotoriatte.info/ -->
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.3.1/dist/css/yakuhanjp.min.css">
<div class="carousel-01">
  <div class="carousel-01__title">お知らせ</div>
  <div class="carousel-01__items" id="js-carousel-01-items">
    <ul>
      <li>
        <a href="" class="carousel-01__item">
          <span class="carousel-01__item-date">2021.01.01</span>
          <span class="carousel-01__item-text">テ「キストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</span>
        </a>
      </li>
      <li>
        <a href="" class="carousel-01__item">
          <span class="carousel-01__item-date">2021.01.01</span>
          <span class="carousel-01__item-text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="carousel-01__pager" id="js-carousel-01-pager"></div>
</div>
