$BLOCK_NAME: ".button-26";
$color_primary: #242427;
$color_white: #fff;
$duration_default: 0.5s;

#{ $BLOCK_NAME } {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 244px;
  height: 50px;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-weight: 700;
  color: $color_primary;
  border: 1px solid $color_primary;
  border-radius: 9999px;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    display: block;
    background: $color_primary;
    border-radius: 9999px;
    transform: translateX(-100%);
    transition: all $duration_default;
  }

  & > span {
    position: relative;
    display: inline-block;
    padding: 0 0 2px 24px;
    z-index: 1;
    transition: all $duration_default;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 6px;
      height: 6px;
      margin: auto;
      border-top: 1px solid $color_primary;
      border-right: 1px solid $color_primary;
      transform: rotate(45deg);
      transition: all $duration_default;
    }
  }

  &:hover {
    &::before {
      transform: translateX(0);
    }

    & > span {
      color: $color_white;
      &::before {
        border-color: $color_white;
      }
    }
  }
}
