-
  var pointList = [
    {
      heading: '見出しが入ります',
      text: '<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p><p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>',
      img: 'https://picsum.photos/600/300'
    },
    {
      heading: '見出しが入ります',
      text: '<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p><p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>',
      img: 'https://picsum.photos/600/300'
    },
    {
      heading: '見出しが入ります',
      text: '<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p><p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>',
      img: 'https://picsum.photos/600/300'
    }
  ]

<div class="section-point">
  <div class="container">
    <div class="section">
      each point in pointList
        <div class="point-content columns">
          <div class="column is-7">
            <h3 class="point-content__heading">#{ point.heading }</h3>
            <div class="point-content__text">!{ point.text }</div>
          </div>
          <div class="column is-5">
            <p class="point-content__img">
              <img src="#{ point.img }" alt="">
            </p>
          </div>
        </div>
    </div>
  </div>
</div>
