<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Oswald:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.3.1/dist/css/yakuhanjp.min.css">

div.section-01
  div.container
    //- ニュース
    section.section
      include section-news.pug

    //- イベント
    section.section
      include section-event.pug

  //- ポイント
  include section-point.pug

  div.container
    //- アクセス
    section.section
      include section-access.pug
