.section-01 {
  // セクション
  .section-news {
    position: relative;
    flex-direction: row-reverse;
    justify-content: space-between;
    &::before {
      content: "";
      position: absolute;
      top: 42px;
      bottom: -24px;
      right: (100% / 4);
      display: block;
      width: 100vw;
      background: $color_secondary;
      z-index: -1;
      @include mq-md() {
        top: -24px;
        right: (100% / 6);
      }
    }
  }
  // ニュース一覧
  .news-list {
    padding-top: 12px;
    @include mq-md() {
      padding-top: 0;
    }
    & > li {
      border-bottom: 1px solid $color_border;
      &:first-child {
        border-top: 1px solid $color_border;
      }
    }
    &__item {
      position: relative;
      display: block;
      padding: 12px 0;
      transition: color $duration_default;
      @include mq-md() {
        padding: 12px 16px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $color_primary;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform $duration_default;
        z-index: -1;
      }
      &:hover {
        color: $color_white;
        &::before {
          transform-origin: left;
          transform: scaleX(1);
        }
      }
    }
    &__head {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: bold;
    }
    &__head-category {
      display: inline-block;
      width: 90px;
      height: 20px;
      margin-right: 8px;
      background: $color_black;
      line-height: 19px;
      color: $color_white;
      text-align: center;
      transition: all $duration_default;
      @at-root {
        .section-01 .news-list__item:hover .news-list__head-category {
          background: $color_white;
          color: $color_primary;
        }
      }
    }
    &__text {
      margin-top: 4px;
      font-size: 12px;
    }
  }
}
