$color_point_bg: linear-gradient(rgba(9, 40, 4, 0.8), rgba(9, 40, 4, 0.8));

.section-01 {
  .section-point {
    margin-top: 24px;
    background: $color_point_bg,
      url(https://picsum.photos/400/200) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .point-content {
    color: $color_white;
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
    &__heading {
      font-size: 24px;
    }
    &__text {
      padding-top: 8px;
      & > p {
        margin-top: 8px;
      }
    }
    &__img {
      & > img {
        width: 100%;
      }
    }
  }
}
