.section-01 {
  .section-event {
    justify-content: space-between;
  }
  .event-list {
    display: flex;
    padding-bottom: 24px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      height: 8px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 4px;
      background: $color_light;
    }
    &::-webkit-scrollbar-thumb {
      background: $color_primary;
      border-radius: 4px;
    }
    &__item {
      width: 240px;
      margin-left: 16px;
      flex-shrink: 0;
      scroll-snap-align: start;
      &:first-child {
        margin-left: 0;
      }
      & > a {
        display: block;
        height: 100%;
        transition: opacity $duration_default;
        &:hover {
          opacity: 0.5;
        }
      }
    }
    &__item-head {
      position: relative;
      & > img {
        width: 100%;
      }
      & > span {
        position: absolute;
        bottom: -10px;
        display: block;
        width: 90px;
        height: 20px;
        background: $color_black;
        color: $color_white;
        font-size: 12px;
        text-align: center;
        line-height: 18px;
      }
    }
    &__item-body {
      padding-top: 20px;
    }
    &__item-title {
      color: $color_primary;
      font-weight: bold;
      line-height: 1.4;
    }
    &__item-text {
      padding-top: 8px;
      font-size: 12px;
    }
  }
}
