{% set items = [
  {
    id: 'about',
    label: '○○について'
  },
  {
    id: 'project',
    label: 'プロジェクト'
  },
  {
    id: 'facility',
    label: '施設'
  },
  {
    id: 'gallery',
    label: 'ギャラリー'
  }
] -%}

<header class="header" id="js-header">
  <div class="container">
    <div class="header__inner">
      <ul class="header__nav">
        {% for item in items %}
          <li><a href="#{{ item.id }}" class="header__nav-item js-anchor-scroll" id="header-nav-item--{{ item.id }}">{{ item.label }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</header>
