@charset 'utf-8';
$BLOCK_NAME: '.facility';

#{ $BLOCK_NAME } {
  //
}

#{ $BLOCK_NAME }-card {
  position: relative;
  padding-bottom: 16px;

  &__button {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    text-align: center;

    & > span {
      display: inline-block;
      height: 32px;
      padding: 0 12px;
      font-size: 12px;
      font-weight: 700;
      line-height: 32px;
      color: Color(primary);
      background: Color(white);
      border-radius: 16px;
      box-shadow: Shadow();
    }
  }

  &__img {
    overflow: hidden;
    border-radius: Rad();
    & > img {
      transition: transform Dur() Ease();
    }
    @at-root #{ $BLOCK_NAME }-card__button:hover + & {
      & > img {
        transform: scale(1.2);
      }
    }
  }
}
