$color_primary: #dd2e1e;
$color_secondary: #b32619;
$transition_button: 0.4s;
$transition_arrow: 0.3s;
$easing_button: cubic-bezier(0.68, -0.55, 0.265, 1.55);

.card-02 {
  position: relative;
  display: block;
  padding: 35px 40px 60px 40px;
  text-align: center;
  &__tag {
    display: inline-block;
    padding: 8px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.18em;
    background: $color_secondary;
    border-radius: 2px;
  }
  &__icon {
    width: 80px;
    height: 80px;
    margin: 25px auto 30px;
  }
  &__heading {
    padding-bottom: 20px;
    color: $color_primary;
    font-weight: bold;
    font-size: 22px;
  }
  &__text {
    font-size: 13px;
    line-height: 2;
    letter-spacing: 0.02em;
  }
  &__button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90px;
    height: 90px;
    overflow: hidden;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: $color_primary;
      border-radius: 50%;
      transform: translate(50%, 50%) scale(0.8);
      transition: all $transition_button $easing_button;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 8px;
      right: 8px;
      display: block;
      width: 8px;
      height: 8px;
      color: #fff;
      border-top: 2px solid;
      border-right: 2px solid;
      transform: rotate(45deg);
      transition: all $transition_arrow ease;
    }
  }
  &:hover &__button {
    &::before {
      transform-origin: 70% 70%;
      transform: translate(50%, 50%) scale(1.3);
    }
    &::after {
      transform: rotate(45deg) translate(-150%, 20%) scale(1.2);
    }
  }
}
