$BLOCK_NAME: '.heading';

#{ $BLOCK_NAME } {
  margin-top: 32px;
  &.is-align-right {
    text-align: right;
  }

  &__inner {
    position: relative;
    display: inline-block;
    width: 240px;
  }

  &__text {
    font-family: Ff(en);
    font-size: 32px;
    font-weight: bold;
    line-height: 1.2;
    color: Color(white);
  }

  &__sub-text {
    color: Color(white);
  }

  &__bg {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: -1;
    width: 50vw;
    fill: Color(primary);
    transform: translateY(-50%);
    @at-root #{ $BLOCK_NAME }.is-align-right & {
      right: auto;
      left: 0;
      fill: Color(secondary);
      transform: translateY(-50%) rotate(180deg);
    }
  }
}
