$BLOCK_NAME: '.header-menu';

#{ $BLOCK_NAME } {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;

  &__items {
    z-index: 1;
    & > li {
      opacity: 0;
      transform: translateY(24px);
    }
  }

  &__item {
    display: block;
    padding: 4px;
    font-family: Ff(en);
    font-size: 24px;
    color: Color(primary);
    letter-spacing: 2px;
    transition: color Dur() Ease();
    @include Mq(tb) {
      font-size: 32px;
    }
    &:hover {
      color: Color(secondary);
    }
  }

  &__bg {
    position: fixed;
    top: 57px;
    right: 57px;
    width: calc(max(100vw, 100vh) * 3);
    height: calc(max(100vw, 100vh) * 3);
    background: Color(white);
    border-radius: 50%;
    opacity: 0;
    transform: translate(50%, -50%) scale(0);
  }
}
