{% macro list( items )%}

<ul class="news-list">
  {% for item in items %}
    <li>
      <a href="#" class="news-list__item">
        <div class="news-list__head">
          <span class="news-list__head-category">{{ item.category }}</span>
          <span class="news-list__head-date">{{ item.date }}</span>
        </div>
        <div class="news-list__text">{{ item.text }}</div>
      </a>
    </li>
  {% endfor %}
</ul>

{% endmacro %}
