$BLOCK_NAME: '.fragment';
$opacity_fragment01: 0.2;
$opacity_fragment02: 0.4;

#{ $BLOCK_NAME } {
  width: 40px;
  fill: none;

  &.--type1 {
    opacity: $opacity_fragment01;
    fill: Color(primary);
  }

  &.--type2 {
    opacity: $opacity_fragment01;
    fill: Color(secondary);
  }

  &.--type3 {
    width: 80px;
    opacity: $opacity_fragment02;
    stroke: Color(primary);
    stroke-width: 4px;
  }

  &.--type4 {
    width: 80px;
    opacity: $opacity_fragment02;
    stroke: Color(secondary);
    stroke-width: 4px;
  }

  &.--rotate-right {
    animation: rotateRight linear infinite;
  }

  &.--rotate-left {
    animation: rotateLeft linear infinite;
  }

  &.--speed-fast {
    animation-duration: 15s;
  }

  &.--speed-normal {
    animation-duration: 20s;
  }

  &.--speed-slow {
    animation-duration: 30s;
  }
}

@keyframes rotateRight {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateLeft {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
