@charset 'utf-8';
$BLOCK_NAME: '.header';

#{ $BLOCK_NAME } {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: Z(header);
  height: 60px;
  background: Color(primary);
  box-shadow: Shadow();

  &__inner {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__logo {
    font-family: Ff(en);
    font-size: 32px;
    color: Color(white);
    &:hover {
      color: Color(white);
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
    & > li {
      height: 100%;
    }
  }

  &__nav-link {
    position: relative;
    display: block;
    height: 100%;
    padding: 16px 16px 0;
    color: Color(white);
    transition: color Dur() Ease();
    &::after {
      position: absolute;
      right: 0;
      bottom: 4px;
      left: 0;
      display: block;
      height: 2px;
      content: '';
      background: Color(white);
      opacity: 0;
      transition: opacity Dur() Ease();
    }
    &:hover {
      color: Color(white);
      &::after {
        opacity: 1;
      }
    }
  }
}
