@charset 'utf-8';
$BLOCK_NAME: '.heading';
$size_sub_text: 48px;

#{ $BLOCK_NAME } {
  padding-bottom: 24px;

  &__inner {
    position: relative;
    display: inline-block;
    padding-right: 8px;
    &::after {
      position: absolute;
      top: $size_sub_text;
      left: 100%;
      width: 100vw;
      height: 1px;
      content: '';
      background: Color(gray);
    }
  }

  &__sub-text {
    font-family: Ff(en);
    font-size: $size_sub_text;
    line-height: $size_sub_text;
    color: Color(primary);
  }

  &__text {
    margin: 4px 0 0;
    font-size: 14px;
    color: Color(gray);
  }
}
