$BLOCK_NAME: '.news-link';

#{ $BLOCK_NAME } {
  &__text {
    align-items: center;
    padding: 16px;
    background: Color(white);
    border-radius: Rad(card);
    box-shadow: Shadow();
    @include Mq(tb) {
      display: flex;
      height: 80px;
      padding: 0 24px;
      border-radius: 9999px;
    }
  }

  &__date {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    padding-right: 16px;
    margin-right: 16px;
    font-weight: bold;
    &::after {
      position: absolute;
      top: 0;
      right: -3px;
      bottom: 0;
      display: block;
      width: 6px;
      height: 6px;
      margin: auto;
      content: '';
      background: Color(primary);
      border-radius: 50%;
    }
  }

  &__link {
    display: inline-block;
    transition: opacity Dur() Ease();
    &:hover {
      opacity: Op();
    }
    @include Mq(tb) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__button {
    display: block;
    flex-shrink: 0;
    height: 40px;
    padding: 0 24px;
    margin-top: 16px;
    font-size: 12px;
    font-weight: bold;
    line-height: 40px;
    color: Color(white);
    text-align: center;
    background: Color(primary);
    border-radius: 9999px;
    transition: background-color Dur() Ease();
    &:hover {
      color: Color(white);
      background: Color(secondary);
    }
    @include Mq(tb) {
      display: inline-block;
      margin: 0 0 0 24px;
    }
  }
}
