@charset 'utf-8';
$BLOCK_NAME: '.projects-section';

#{ $BLOCK_NAME } {
  position: relative;
  padding: 36px 0;
  margin-top: 120px;
  background: Color(primaryLight);
  border-radius: 36px;
  @include Mq(md) {
    padding: 60px 0;
    margin-top: 160px;
    border-radius: 60px;
  }

  &__title {
    position: absolute;
    top: -64px;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 60px;
    font-weight: 900;
    color: Color(primaryLight);
    text-align: center;
    @include Mq(md) {
      top: -120px;
      font-size: 110px;
    }
  }

  &__content {
    margin-top: 36px;
  }

  &__item {
    & + & {
      margin-top: 64px;
    }
  }

  &__item-links {
    margin-top: 24px;
  }

  &__button {
    margin-top: 16px;
    text-align: right;
  }
}
