<!-- 参考：https://www.net-marketing.co.jp/ -->

<div class="menu-01" id="js-menu-01">
  <ul class="menu-01__items">
    <li>
      <a href="#" class="menu-01__item">
        MENU01
        <span class="menu-01__item-mask"></span>
      </a>
    </li>
    <li>
      <a href="#" class="menu-01__item">
        MENU01
        <span class="menu-01__item-mask"></span>
      </a>
    </li>
    <li>
      <a href="#" class="menu-01__item">
        MENU01
        <span class="menu-01__item-mask"></span>
      </a>
    </li>
  </ul>
</div>
<a href="" class="menu-01__button js-menu-01-button">
  <div class="menu-01__button-open">
    <span class="menu-01__button-open-dots">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <span class="menu-01__button-open-dots">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <span class="menu-01__button-open-dots">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>
  <div class="menu-01__button-close"></div>
</a>
