<footer class="footer">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">
      <div class="col">
        <h3 class="footer__heading">見出しが入ります</h3>
        <ul class="footer__links">
          <li><a href="#" class="footer__link">リンク01</a></li>
          <li><a href="#" class="footer__link">リンク02</a></li>
          <li><a href="#" class="footer__link">リンク03</a></li>
          <li><a href="#" class="footer__link">リンク04</a></li>
          <li><a href="#" class="footer__link">リンク05</a></li>
        </ul>
      </div>
      <div class="col">
        <h3 class="footer__heading">見出しが入ります</h3>
        <ul class="footer__links">
          <li><a href="#" class="footer__link">リンク01</a></li>
          <li><a href="#" class="footer__link">リンク02</a></li>
          <li><a href="#" class="footer__link">リンク03</a></li>
          <li><a href="#" class="footer__link">リンク04</a></li>
          <li><a href="#" class="footer__link">リンク05</a></li>
        </ul>
      </div>
      <div class="col">
        <h3 class="footer__heading">見出しが入ります</h3>
        <ul class="footer__links">
          <li><a href="#" class="footer__link">リンク01</a></li>
          <li><a href="#" class="footer__link">リンク02</a></li>
          <li><a href="#" class="footer__link">リンク03</a></li>
          <li><a href="#" class="footer__link">リンク04</a></li>
          <li><a href="#" class="footer__link">リンク05</a></li>
        </ul>
      </div>
      <div class="col">
        <h3 class="footer__heading">見出しが入ります</h3>
        <ul class="footer__links">
          <li><a href="#" class="footer__link">リンク01</a></li>
          <li><a href="#" class="footer__link">リンク02</a></li>
          <li><a href="#" class="footer__link">リンク03</a></li>
          <li><a href="#" class="footer__link">リンク04</a></li>
          <li><a href="#" class="footer__link">リンク05</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__bottom py-3 mt-5">
    <div class="container">
      <div class="footer__bottom-inner">
        <ul class="footer__bottom-links">
          <li><a href="#" class="footer__bottom-link">リンク01</a></li>
          <li><a href="#" class="footer__bottom-link">リンク02</a></li>
          <li><a href="#" class="footer__bottom-link">リンク03</a></li>
          <li><a href="#" class="footer__bottom-link">リンク04</a></li>
          <li><a href="#" class="footer__bottom-link">リンク05</a></li>
        </ul>
        <p class="footer__bottom-copy">Copyright ©XXXXX. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>

<!-- トップへ戻る -->
{% include './footer-go-top.njk' %}
