{%- import '../_module/components/about.njk' as about -%}
{%- import '../_module/components/headings.njk' as headings -%}

{% set aboutItems = [
  {
    heading: '<span>ここに見出しが</span><br><span>入ります</span>',
    texts: [
      'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
      'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
    ],
    mainImg: 'img/about/main-01.jpg',
    subImg: 'img/about/sub-01.jpg'
  },
  {
    heading: '<span>ここに見出しが</span><br><span>入ります</span>',
    texts: [
      'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
      'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
    ],
    mainImg: 'img/about/main-02.jpg',
    subImg: 'img/about/sub-02.jpg'
  },
  {
    heading: '<span>ここに見出しが</span><br><span>入ります</span>',
    texts: [
      'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
      'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
    ],
    mainImg: 'img/about/main-03.jpg',
    subImg: 'img/about/sub-03.jpg'
  }
] -%}

<section class="about-section" id="about">
  <div class="container">
    {{ headings.h2( text="○○について", icon="about" ) }}
    {{ headings.lead( text='テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br class="d-none d-sm-block">テキストが入ります。テキストが入ります。' ) }}
    <div class="about-section__content">
      {% for item in aboutItems %}
        <div class="about-section__content-item row row-cols-1 row-cols-md-2 g-2 align-items-center">
          <div class="col">
            {{ about.heading( content=item.heading ) }}
            {% for text in item.texts %}
              {{ about.text( content=text ) }}
            {% endfor %}
          </div>
          <div class="col">
            {{ about.img(
              main=item.mainImg,
              sub=item.subImg
            ) }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
