{%- import '../_module/components/facility.njk' as facility -%}
{%- import '../_module/components/headings.njk' as headings -%}

{% set facilityItems = [
  {
    link: '#',
    text: '施設名が入ります',
    img: 'https://picsum.photos/id/1015/400/200'
  },
  {
    link: '#',
    text: '施設名が入ります',
    img: 'https://picsum.photos/id/1015/400/200'
  },
  {
    link: '#',
    text: '施設名が入ります',
    img: 'https://picsum.photos/id/1015/400/200'
  },
  {
    link: '#',
    text: '施設名が入ります',
    img: 'https://picsum.photos/id/1015/400/200'
  },
  {
    link: '#',
    text: '施設名が入ります',
    img: 'https://picsum.photos/id/1015/400/200'
  },
  {
    link: '#',
    text: '施設名が入ります',
    img: 'https://picsum.photos/id/1015/400/200'
  },
  {
    link: '#',
    text: '施設名が入ります',
    img: 'https://picsum.photos/id/1015/400/200'
  },
  {
    link: '#',
    text: '施設名が入ります',
    img: 'https://picsum.photos/id/1015/400/200'
  }
] -%}

<section class="facility-section">
  <div class="container">
    {{ headings.h2( text="施設", icon="facility" ) }}
    {{ headings.lead( text='テキストが入ります。テキストが入ります。テキストが入ります。<br class="d-none d-sm-block">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。' ) }}
    <div class="facility-section__content">
      <div class="row row-cols-2 row-cols-md-4 g-2">
        {% for item in facilityItems %}
          <div class="col">
            {{ facility.card(
              link=item.link,
              text=item.text,
              img=item.img
            ) }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
