<section class="gallery-section">
  <div class="container">
    <div class="row row-cols-4">
      <div class="col">aaa</div>
      <div class="col">aaa</div>
      <div class="col">aaa</div>
      <div class="col">aaa</div>
    </div>
  </div>
</div>
