{%- import '../_module/components/gallery.njk' as gallery -%}
{%- import '../_module/components/headings.njk' as headings -%}

{% set galleryItems = [
  {
    link: '#',
    img: 'https://picsum.photos/id/1015/400/200',
    alt: '画像の説明文'
  },
  {
    link: '#',
    img: 'https://picsum.photos/id/1015/400/200',
    alt: '画像の説明文'
  },
  {
    link: '#',
    img: 'https://picsum.photos/id/1015/400/200',
    alt: '画像の説明文'
  },
  {
    link: '#',
    img: 'https://picsum.photos/id/1015/400/200',
    alt: '画像の説明文'
  },
  {
    link: '#',
    img: 'https://picsum.photos/id/1015/400/200',
    alt: '画像の説明文'
  },
  {
    link: '#',
    img: 'https://picsum.photos/id/1015/400/200',
    alt: '画像の説明文'
  },
  {
    link: '#',
    img: 'https://picsum.photos/id/1015/400/200',
    alt: '画像の説明文'
  },
  {
    link: '#',
    img: 'https://picsum.photos/id/1015/400/200',
    alt: '画像の説明文'
  }
] -%}

<section class="gallery-section">
  <div class="container">
    {{ headings.h2( text="ギャラリー", icon="gallery" ) }}
    {{ headings.lead( text="テキストが入ります。テキストが入ります。テキストが入ります。<br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。" ) }}
    <div class="gallery-section__content">
      <div class="row row-cols-4 g-2">
        {% for item in galleryItems %}
          <div class="col">
            {{ gallery.item(
              link=item.link,
              img=item.img,
              alt=item.alt
            ) }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
