{% macro md( url="", text="" ) %}
<a href="{{ url }}" class="button-md">
  <span class="button-md__circle"></span>
  <span class="button-md__text">{{ text }}</span>
</a>
{% endmacro %}

{% macro lg( url="", text="", color="" ) %}
{% if (color == "secondary") %}
<a href="{{ url }}" class="button-lg --secondary">
{% else %}
<a href="{{ url }}" class="button-lg">
{% endif %}
  {{ text }}
  <span class="button-lg__arrow"></span>
</a>
{% endmacro %}
