{% macro card() %}

<div class="facility-card">
  <a href="#" class="facility-card__button">
    施設名が入ります
  </a>
  <div class="facility-card__img">
    <img src="https://picsum.photos/id/1015/400/200" alt="">
  </div>
</div>

{% endmacro %}
