{% macro card( link="", text="", img="") %}

<div class="facility-card">
  <a href="{{ link }}" class="facility-card__button">
    <span>{{ text }}</span>
  </a>
  <div class="facility-card__img">
    <img
      src="{{ img }}"
      width="400"
      height="200"
      alt=""
    >
  </div>
</div>

{% endmacro %}
