{% macro item( link="", img="", alt="" ) %}
<a href="{{ link }}" class="gallery-item" data-lightbox="gallery" data-title="{{ alt }}">
  <img
    src="{{ img }}"
    width="400"
    height="200"
    alt="{{ alt }}"
  >
  <span class="gallery-item__bg">
    <i class="bi bi-arrows-fullscreen"></i>
  </span>
</a>
{% endmacro %}
