{% macro img( img="" ) %}
<div class="projects-img">
  <img
    src="{{ img }}"
    width="400"
    height="200"
    alt=""
  >
</div>
{% endmacro %}

{% macro heading( content="" ) %}
<h3 class="projects-heading">
  {{ content | safe }}
</h3>
{% endmacro %}

{% macro text( content="" ) %}
<p class="projects-text">
  {{ content | safe }}
</p>
{% endmacro %}

{% macro card(
  link="",
  img="",
  heading="",
  text=""
) %}
<a href="{{ link }}" class="projects-card">
  <div class="projects-card__img">
    <img
      src="{{ img }}"
      width="64"
      height="64"
      alt=""
    >
  </div>
  <div class="projects-card__content">
    <h4 class="projects-card__heading">{{ heading }}</h4>
    <p class="projects-card__text">{{ text }}</p>
  </div>
</a>
{% endmacro %}
