@charset 'utf-8';
$BLOCK_NAME: '.about-section';

#{ $BLOCK_NAME } {
  padding-top: 90px;

  &__content {
    margin-top: 16px;
  }

  &__content-item {
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
    & + & {
      margin-top: 24px;
    }
  }
}
