@charset 'utf-8';
$BLOCK_NAME: '.hero-section';
$height_bg: 400px;
$text_shadow: (1px 1px 10px Color(primary), -1px -1px 10px Color(primary));

#{ $BLOCK_NAME } {
  position: relative;
  height: $height_bg;
  margin-top: 60px;
  background: Color(black);

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 480px;
    padding: 0 16px;
    margin: auto;
    color: Color(white);
    text-align: center;
  }

  &__title {
    font-size: 32px;
    font-weight: 900;
    text-shadow: $text_shadow;
    @include Mq(md) {
      font-size: 40px;
    }
  }

  &__lead {
    margin-top: 16px;
    font-size: 14px;
    text-shadow: $text_shadow;
  }

  &__bg-item {
    position: relative;
    height: $height_bg;
    overflow: hidden;
    & > img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: auto;
      height: 100%;
      transform: translateX(-50%);
    }
  }
}
