{# 「gulp-htmlmin」での圧縮が効かなかったため、元の記述をVScode側で圧縮しておく #}
{# <script>
setTimeout(() => {
  document.getElementById('js-page-loader').style.display = 'none';
}, 10000);
</script> #}
<script>setTimeout(() => {document.getElementById('js-page-loader').style.display = 'none';}, 10000);</script>
