<div class="loader" id="js-loader">
  <div class="loader__content">
    <p class="loader__text"><span id="js-loader-text">0%</span></p>
    <div class="loader__progress"><span id="js-loader-progress"></span></div>
  </div>
</div>
