<div class="footer-go-top js-fix-content">
  <a href="#" class="footer-go-top__button" id="js-footer-go-top">
    <span class="icon-text">
      <span class="icon">
        <i class="fas fa-arrow-alt-circle-up"></i>
      </span>
      <span>トップへ戻る</span>
    </span>
  </a>
</div>
