// ブレークポイント
$breakpoint-sm: 480px !default;
$breakpoint-md: 769px !default;
$breakpoint-lg: 1080px !default;

// イージング
// 参考：https://easings.net/
$easing_sine_ease_in: cubic-bezier(0.12, 0, 0.39, 0);
$easing_sine_ease_out: cubic-bezier(0.61, 1, 0.88, 1);
$easing_sine_ease_in_out: cubic-bezier(0.37, 0, 0.63, 1);

$easing_quad_ease_in: cubic-bezier(0.11, 0, 0.5, 0);
$easing_quad_ease_out: cubic-bezier(0.5, 1, 0.89, 1);
$easing_quad_ease_in_out: cubic-bezier(0.45, 0, 0.55, 1);

$easing_cubic_ease_in: cubic-bezier(0.32, 0, 0.67, 0);
$easing_cubic_ease_out: cubic-bezier(0.33, 1, 0.68, 1);
$easing_cubic_ease_in_out: cubic-bezier(0.65, 0, 0.35, 1);

$easing_quart_ease_in: cubic-bezier(0.5, 0, 0.75, 0);
$easing_quart_ease_out: cubic-bezier(0.25, 1, 0.5, 1);
$easing_quart_ease_in_out: cubic-bezier(0.76, 0, 0.24, 1);

$easing_quint_ease_in: cubic-bezier(0.64, 0, 0.78, 0);
$easing_quint_ease_out: cubic-bezier(0.22, 1, 0.36, 1);
$easing_quint_ease_in_out: cubic-bezier(0.83, 0, 0.17, 1);

$easing_expo_ease_in: cubic-bezier(0.7, 0, 0.84, 0);
$easing_expo_ease_out: cubic-bezier(0.16, 1, 0.3, 1);
$easing_expo_ease_in_out: cubic-bezier(0.87, 0, 0.13, 1);

$easing_circ_ease_in: cubic-bezier(0.55, 0, 1, 0.45);
$easing_circ_ease_out: cubic-bezier(0, 0.55, 0.45, 1);
$easing_circ_ease_in_out: cubic-bezier(0.85, 0, 0.15, 1);

$easing_back_ease_in: cubic-bezier(0.36, 0, 0.66, -0.56);
$easing_back_ease_out: cubic-bezier(0.34, 1.56, 0.64, 1);
$easing_back_ease_in_out: cubic-bezier(0.68, -0.6, 0.32, 1.6);

// 参考：https://material.io/design/motion/speed.html#easing
$easing_material_standard: cubic-bezier(0.4, 0, 0.2, 1);
$easing_material_decelerated: cubic-bezier(0, 0, 0.2, 1);
$easing_material_accelerated: cubic-bezier(0.4, 0, 1, 1);

// シャドウ
// 参考：https://material-components.github.io/material-components-web-catalog/#/component/elevation
$shadow_material_1: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
  0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
$shadow_material_2: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
$shadow_material_3: 0 3px 3px -2px rgba(0, 0, 0, 0.2),
  0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
$shadow_material_4: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
  0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
$shadow_material_5: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
  0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
$shadow_material_6: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
  0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
$shadow_material_7: 0 4px 5px -2px rgba(0, 0, 0, 0.2),
  0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12);
$shadow_material_8: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
$shadow_material_9: 0 5px 6px -3px rgba(0, 0, 0, 0.2),
  0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12);
$shadow_material_10: 0 6px 6px -3px rgba(0, 0, 0, 0.2),
  0 10px 14px 1px rgba(0, 0, 0, 0.14), 0 4px 18px 3px rgba(0, 0, 0, 0.12);
$shadow_material_11: 0 6px 7px -4px rgba(0, 0, 0, 0.2),
  0 11px 15px 1px rgba(0, 0, 0, 0.14), 0 4px 20px 3px rgba(0, 0, 0, 0.12);
$shadow_material_12: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
  0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12);
$shadow_material_13: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
  0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
$shadow_material_14: 0 7px 9px -4px rgba(0, 0, 0, 0.2),
  0 14px 21px 2px rgba(0, 0, 0, 0.14), 0 5px 26px 4px rgba(0, 0, 0, 0.12);
$shadow_material_15: 0 8px 9px -5px rgba(0, 0, 0, 0.2),
  0 15px 22px 2px rgba(0, 0, 0, 0.14), 0 6px 28px 5px rgba(0, 0, 0, 0.12);
$shadow_material_16: 0 8px 10px -5px rgba(0, 0, 0, 0.2),
  0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);
$shadow_material_17: 0 8px 11px -5px rgba(0, 0, 0, 0.2),
  0 17px 26px 2px rgba(0, 0, 0, 0.14), 0 6px 32px 5px rgba(0, 0, 0, 0.12);
$shadow_material_18: 0 9px 11px -5px rgba(0, 0, 0, 0.2),
  0 18px 28px 2px rgba(0, 0, 0, 0.14), 0 7px 34px 6px rgba(0, 0, 0, 0.12);
$shadow_material_19: 0 9px 12px -6px rgba(0, 0, 0, 0.2),
  0 19px 29px 2px rgba(0, 0, 0, 0.14), 0 7px 36px 6px rgba(0, 0, 0, 0.12);
$shadow_material_20: 0 10px 13px -6px rgba(0, 0, 0, 0.2),
  0 20px 31px 3px rgba(0, 0, 0, 0.14), 0 8px 38px 7px rgba(0, 0, 0, 0.12);
$shadow_material_21: 0 10px 13px -6px rgba(0, 0, 0, 0.2),
  0 21px 33px 3px rgba(0, 0, 0, 0.14), 0 8px 40px 7px rgba(0, 0, 0, 0.12);
$shadow_material_22: 0 10px 14px -6px rgba(0, 0, 0, 0.2),
  0 22px 35px 3px rgba(0, 0, 0, 0.14), 0 8px 42px 7px rgba(0, 0, 0, 0.12);
$shadow_material_23: 0 11px 14px -7px rgba(0, 0, 0, 0.2),
  0 23px 36px 3px rgba(0, 0, 0, 0.14), 0 9px 44px 8px rgba(0, 0, 0, 0.12);
$shadow_material_24: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
  0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);

// @function mShadow($num) {
//   @return "$shadow_material_" + $num;
// }
