// ブレークポイント
$breakpoint-sm: 480px !default;
$breakpoint-md: 769px !default;
$breakpoint-lg: 1080px !default;

// イージング
// 参考：https://easings.net/
$easing_sine_ease_in: cubic-bezier(0.12, 0, 0.39, 0);
$easing_sine_ease_out: cubic-bezier(0.61, 1, 0.88, 1);
$easing_sine_ease_in_out: cubic-bezier(0.37, 0, 0.63, 1);

$easing_quad_ease_in: cubic-bezier(0.11, 0, 0.5, 0);
$easing_quad_ease_out: cubic-bezier(0.5, 1, 0.89, 1);
$easing_quad_ease_in_out: cubic-bezier(0.45, 0, 0.55, 1);

$easing_cubic_ease_in: cubic-bezier(0.32, 0, 0.67, 0);
$easing_cubic_ease_out: cubic-bezier(0.33, 1, 0.68, 1);
$easing_cubic_ease_in_out: cubic-bezier(0.65, 0, 0.35, 1);

$easing_quart_ease_in: cubic-bezier(0.5, 0, 0.75, 0);
$easing_quart_ease_out: cubic-bezier(0.25, 1, 0.5, 1);
$easing_quart_ease_in_out: cubic-bezier(0.76, 0, 0.24, 1);

$easing_quint_ease_in: cubic-bezier(0.64, 0, 0.78, 0);
$easing_quint_ease_out: cubic-bezier(0.22, 1, 0.36, 1);
$easing_quint_ease_in_out: cubic-bezier(0.83, 0, 0.17, 1);

$easing_expo_ease_in: cubic-bezier(0.7, 0, 0.84, 0);
$easing_expo_ease_out: cubic-bezier(0.16, 1, 0.3, 1);
$easing_expo_ease_in_out: cubic-bezier(0.87, 0, 0.13, 1);

$easing_circ_ease_in: cubic-bezier(0.55, 0, 1, 0.45);
$easing_circ_ease_out: cubic-bezier(0, 0.55, 0.45, 1);
$easing_circ_ease_in_out: cubic-bezier(0.85, 0, 0.15, 1);

$easing_back_ease_in: cubic-bezier(0.36, 0, 0.66, -0.56);
$easing_back_ease_out: cubic-bezier(0.34, 1.56, 0.64, 1);
$easing_back_ease_in_out: cubic-bezier(0.68, -0.6, 0.32, 1.6);

// 参考：https://material.io/design/motion/speed.html#easing
$easing_material_standard: cubic-bezier(0.4, 0, 0.2, 1);
$easing_material_decelerated: cubic-bezier(0, 0, 0.2, 1);
$easing_material_accelerated: cubic-bezier(0.4, 0, 1, 1);

// 参考：https://greensock.com/docs/v3/Eases
// $easing_gsap__ease_in: cubic-bezier();
// $easing_gsap__ease_out: cubic-bezier();
// $easing_gsap__ease_in_out: cubic-bezier();
