<footer class="footer">
  <div class="container">
    <p class="has-text-centered">Copyright ©XXXXX. All Rights Reserved.</p>
  </div>
</footer>

<!-- トップへ戻る -->
{% include './footer-go-top.njk' %}
