<div class="contact-section__wrapper mt-5">
  <section class="contact-section mb-5">
    <div class="container">
      <div class="contact-section__content">
        <div class="row row-cols-1 row-cols-md-2 g-3">
          <div class="col">
            <a href="#" class="contact-section__button">
              <span class="contact-section__icon"><i class="bi bi-envelope-fill"></i></span>
              <span class="contact-section__heading">メールでお問い合わせ</span>
              <span class="contact-section__text">sample@mail.com</span>
            </a>
          </div>
          <div class="col">
            <a href="#" class="contact-section__button">
              <span class="contact-section__icon"><i class="bi bi-telephone-fill"></i></span>
              <span class="contact-section__heading">電話でお問い合わせ</span>
              <span class="contact-section__text">01-2345-6789</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
