{%- import '../_module/components/hero-news.njk' as heroNews -%}
{% set heroBgItems = [
  {
    img: 'img/hero/hero-mv03.jpg'
  },
  {
    img: 'img/hero/hero-mv02.jpg'
  },
  {
    img: 'img/hero/hero-mv01.jpg'
  }
] -%}

<div class="hero-section">
  <div class="hero-section__content">
    <h1 class="hero-section__title">タイトルが入ります</h1>
    <p class="hero-section__lead">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
  </div>
  <div class="hero-section__bg" id="js-hero-bg">
    {% for item in heroBgItems %}
      <div class="hero-section__bg-item">
        <img
          src="{{ item.img }}"
          width="600"
          height="200"
          alt=""
        >
      </div>
    {% endfor %}
  </div>
</div>

{{ heroNews.news( link="#", date="2021年1月1日", text="テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。" ) }}
