{%- import '../_module/components/headings.njk' as headings -%}

<section class="works-section py-4">
  <div class="container">
    {{ headings.h2( text="お知らせ", subText="News" ) }}
  </div>
</section>
