{%- import '../_module/components/headings.njk' as headings -%}

<section class="works-section py-4">
  <div class="container">
    {{ headings.h2( text="採用情報", subText="Recruit" ) }}
  </div>
</section>
