{%- import "../_module/components/service-list.njk" as serviceList -%}

<div class="service-section__wrapper">
  <section class="service-section">
    <div class="service-section__inner container">
      <div class="service-section__sub-heading">Service</div>
      <h2 class="service-section__heading">サービス</h2>
      <div class="service-section__lead">
        <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
      </div>
      <div class="service-section__content">
        {{ serviceList.list() }}
      </div>
    </div>
  </section>
</div>
