{%- import "../_module/components/service-list.njk" as serviceList -%}
{% set serviceListItems = [
  {
    link: '#',
    text: 'サービス<br>01',
    img: 'img/service/service01.jpg'
  },
  {
    link: '#',
    text: 'サービス<br>02',
    img: 'img/service/service02.jpg'
  },
  {
    link: '#',
    text: 'サービス<br>03',
    img: 'img/service/service03.jpg'
  },
  {
    link: '#',
    text: 'サービス<br>04',
    img: 'img/service/service04.jpg'
  },
  {
    link: '#',
    text: 'サービス<br>05',
    img: 'img/service/service05.jpg'
  },
  {
    link: '#',
    text: 'サービス<br>06',
    img: 'img/service/service06.jpg'
  }
] -%}

<div class="service-section__wrapper">
  <section class="service-section js-scroll-anim">
    <div class="service-section__inner container">
      <div class="service-section__sub-heading">Service</div>
      <div class="service-section__inner-anim">
        <h2 class="service-section__heading">サービス</h2>
        <div class="service-section__lead">
          <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        </div>
        <div class="service-section__content">
          {{ serviceList.list( serviceListItems ) }}
        </div>
      </div>
    </div>
  </section>
</div>
