{%- import '../_module/components/headings.njk' as headings -%}
{%- import '../_module/components/work-list.njk' as workList -%}
{%- import '../_module/components/buttons.njk' as buttons -%}
{% set workListItems = [
  {
    link: '#',
    img: 'https://picsum.photos/id/237/400/200',
    category: 'カテゴリー',
    title: 'タイトルが入ります。タイトルが入ります。'
  },
  {
    link: '#',
    img: 'https://picsum.photos/id/237/400/200',
    category: 'カテゴリー',
    title: 'タイトルが入ります。タイトルが入ります。'
  },
  {
    link: '#',
    img: 'https://picsum.photos/id/237/400/200',
    category: 'カテゴリー',
    title: 'タイトルが入ります。タイトルが入ります。'
  }
] -%}

<section class="works-section py-4 mt-5 js-scroll-anim">
  <div class="container">
    {{ headings.h2( text="導入実績", subText="Works" ) }}
    <div class="works-section__inner">
      <div class="works-section__content">
        {{ workList.list( workListItems ) }}
      </div>
      <p class="mt-3 text-end">
        {{ buttons.viewAll( link="#" ) }}
      </p>
    </div>
  </div>
</section>
