{% macro list( items ) %}

<div class="voice-list" id="js-voice-list">
  {% for item in items %}
    <div class="voice-list__item">
      <div class="voice-list__item-inner">
        <div class="voice-list__head">
          <div class="voice-list__img">
            <img src="{{ item.img }}" alt="">
          </div>
          <div class="voice-list__profile">
            <h3 class="voice-list__name">{{ item.name }}<span>さん</span></h3>
            <p class="voice-list__position">{{ item.position }}</p>
          </div>
        </div>
        <p class="voice-list__text">{{ item.text | safe }}</p>
      </div>
      <div class="voice-list__item-border"></div>
    </div>
  {% endfor %}
</div>

{% endmacro %}
