$BLOCK_NAME: '.price-section';

#{ $BLOCK_NAME } {
  position: relative;
  margin: 48px 0 16px;

  &__inner {
    opacity: 0;
    transition: all Dur() Ease();
    transform: translateY(24px);
    @at-root #{ $BLOCK_NAME }.is-animated & {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__item {
    position: relative;
    height: 100%;
    padding: 16px;
    background: Color(white);
    border-radius: Rad(card);
    box-shadow: Shadow();
    &.--free {
      @include Mq(tb) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    &.--standard {
      border: 3px solid Color(secondary);
      @include Mq(tb) {
        z-index: 1;
        height: calc(100% + 32px);
        margin: -16px 0;
      }
    }
    &.--premium {
      @include Mq(tb) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  &__heading {
    padding-bottom: 12px;
    font-family: Ff(en);
    font-size: 24px;
    color: Color(black);
    text-align: center;
    border-bottom: 1px dotted Color(black);
    @at-root #{ $BLOCK_NAME }__item.--standard & {
      color: Color(secondary);
    }
  }

  &__price {
    margin-top: 8px;
    text-align: center;
    & > span {
      display: block;
      font-family: Ff(en);
      font-size: 48px;
      line-height: 1.2;
      @at-root #{ $BLOCK_NAME }__item.--standard & {
        font-size: 58px;
        color: Color(secondary);
      }
    }
  }

  &__tag {
    padding: 4px;
    margin-top: 8px;
    color: Color(white);
    text-align: center;
    background: Color(gray);
    border-radius: 4px;
  }

  &__content {
    margin-top: 16px;
    text-align: center;
    & + & {
      margin-top: 8px;
    }
    & > dd {
      margin-top: 4px;
      font-size: 20px;
      font-weight: bold;
    }
  }

  &__fragment {
    position: absolute;
    z-index: -1;
    &.is-1 {
      top: -30px;
      left: -20px;
      @include Mq(sp) {
        left: -120px;
      }
    }
    &.is-2 {
      display: none;
      @include Mq(tb) {
        top: 50%;
        right: -120px;
        display: block;
      }
    }
    &.is-3 {
      display: none;
      @include Mq(sp) {
        top: -60px;
        left: 55%;
        display: block;
      }
    }
  }
}
