@charset 'utf-8';
$BLOCK_NAME: '.recruit-section';

#{ $BLOCK_NAME } {
  &__content {
    & > p {
      line-height: 1.75;
      & + p {
        margin-top: 8px;
      }
    }
  }

  &__img {
    & > img {
      width: 100%;
      height: auto;
    }
  }
}
