@charset 'utf-8';
$BLOCK_NAME: '.service-section';
$size_sub_text: 48px;
$offset_bg: 60px;

#{ $BLOCK_NAME } {
  position: relative;
  padding-bottom: 1px;
  margin-top: $size_sub_text + 32px;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background: Color(primary);
    transition: all Dur() Ease();
    transform: scaleX(0);
    transform-origin: left;
  }
  &.is-animated::before {
    transform: scaleX(1);
  }

  &__wrapper {
    padding-bottom: $offset_bg + 1px;
  }

  &__inner {
    position: relative;
    margin-bottom: -$offset_bg;
  }

  &__sub-heading {
    position: absolute;
    top: -38px;
    font-family: Ff(en);
    font-size: $size_sub_text;
    line-height: $size_sub_text;
    color: Color(primary);
  }

  &__inner-anim {
    opacity: 0;
    transition: all Dur() Ease() Dur();
    transform: translateY(24px);
    @at-root .is-animated & {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__heading {
    padding-top: 12px;
    font-size: 14px;
    color: Color(white);
  }

  &__lead {
    margin-top: 16px;
    font-weight: 100;
    color: Color(white);
  }

  &__content {
    margin-top: 32px;
  }
}
