{%- import '../_module/components/lead.njk' as lead -%}
{%- import '../_module/components/info-list.njk' as infoList -%}
{% set infoListItems = [
  {
    term: '項目名1',
    description: 'テキストが入ります。テキストが入ります。テキストが入ります。<br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
  },
  {
    term: '項目名2',
    description: 'テキストが入ります。テキストが入ります。テキストが入ります。<br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
  },
  {
    term: '項目名3',
    description: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
  },
  {
    term: '項目名4',
    description: '<span>テキストが入ります。テキストが入ります。テキストが入ります。<br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</span>'
  },
  {
    term: '項目名5',
    description: 'テキストが入ります。テキストが入ります。テキストが入ります。'
  }
] -%}

<div class="container js-scroll-anim">
  <section class="section">
    <div class="section-access columns">
      <div class="column is-4">
        {{ lead.lead(
          heading='アクセス',
          shoulder='ACCESS',
          text='テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
        ) }}
      </div>
      <div class="section-access__content column is-7">
        {{ infoList.list(infoListItems) }}
      </div>
    </div>
    <div class="section-access__map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.0459159529737!2d139.80315461529614!3d35.74967618017841!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188e4fa6644e8d%3A0x6bc4e612ab55d171!2z5YyX5Y2D5L2P6aeF!5e0!3m2!1sja!2sjp!4v1611569782550!5m2!1sja!2sjp"
        width="100%"
        height="300"
        frameborder="0"
        style="border:0;"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"
      ></iframe>
    </div>
  </section>
</div>
