
<div class="container">
  <section class="section">
    <div class="contact-section">
      <h2 class="contact-section__heading">
        <span class="contact-section__heading-inner">CONTACT</span>
      </h2>
      <p class="contact-section__lead">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。<br>テキストが入ります。テキストが入ります。テキストが入ります。</p>
      <div class="contact-section__buttons columns">
        <div class="column">
          <a class="contact-section__button --mail">
            <span>メールでお問い合わせ</span>
            <span class="contact-section__button-text">sample@mail.com</span>
          </a>
        </div>
        <div class="column">
          <a class="contact-section__button --tell">
            <span>電話でお問い合わせ</span>
            <span class="contact-section__button-text">01-2345-6789</span>
          </a>
        </div>
      </div>
    </div>
  <section>
</div>
