{%- import '../_module/components/faq-list.njk' as faqList -%}
{% set faqListItems = [
  {
    categoryLabel: '○○について',
    contents: [
      {
        question: '○○について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      },
      {
        question: '○○について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      },
      {
        question: '○○について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      },
      {
        question: '○○について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      }
    ]
  },
  {
    categoryLabel: '××について',
    contents: [
      {
        question: '××について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      },
      {
        question: '××について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      },
      {
        question: '××について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      }
    ]
  },
  {
    categoryLabel: '□□について',
    contents: [
      {
        question: '□□について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      },
      {
        question: '□□について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      },
      {
        question: '□□について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      },
      {
        question: '□□について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      }
    ]
  },
  {
    categoryLabel: '△△について',
    contents: [
      {
        question: '△△について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      },
      {
        question: '△△について質問が入ります。',
        answer: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
      }
    ]
  }
] -%}

<div class="section-faq">
  <div class="container">
    <div class="section">
      {{ faqList.list(faqListItems) }}
    </div>
  </div>
</div>
