{%- import '../_module/components/point-content.njk' as pointContent -%}
{% set pointContentItems = [
  {
    shoulder: 'POINT 01',
    heading: '見出しが入ります',
    text: '<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p><p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>',
    img: 'img/point/point-01.jpg'
  },
  {
    shoulder: 'POINT 02',
    heading: '見出しが入ります',
    text: '<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p><p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>',
    img: 'img/point/point-02.jpg'
  },
  {
    shoulder: 'POINT 03',
    heading: '見出しが入ります',
    text: '<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p><p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>',
    img: 'img/point/point-03.jpg'
  }
] -%}

<div class="section-point">
  <div class="container">
    <div class="section">
      {% for item in pointContentItems %}
        {{ pointContent.content(
          heading=item.heading,
          shoulder=item.shoulder,
          text=item.text,
          img=item.img
        ) }}
      {% endfor %}
    </div>
  </div>
</div>
