{%- import '../_module/components/headings.njk' as headings -%}

<div class="container">
  <section class="section">
    {{ headings.h2( text='PRICE', align='right' ) }}
    <div class="price-section">
      <div class="columns is-gapless">
        <div class="column">
          <div class="price-section__item --free">
          価格<br>aa
          </div>
        </div>
        <div class="column">
          <div class="price-section__item --standard">
          価格
          </div>
        </div>
        <div class="column">
          <div class="price-section__item --premium">
          価格
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
