{%- import '../_module/components/headings.njk' as headings -%}
{%- import '../_module/components/fragments.njk' as fragments -%}

<div class="container">
  <section class="section">
    {{ headings.h2( text='SERVICE' ) }}
    <div class="service-section__wrapper">
      <div class="service-section columns">
        <div class="column is-7">
          <div class="service-section__content">
            <h3 class="service-section__heading">
              <span>見出しが入ります</span>
            </h3>
            <p class="service-section__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            <p class="service-section__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          </div>
        </div>
        <div class="column is-5">
          <div class="service-section__img">
            <img src="/img/service/service-01.jpg" alt="">
          </div>
        </div>
        <div class="service-section__fragment is-1">
          {{ fragments.triangle( type="1", speed="slow" ) }}
        </div>
        <div class="service-section__fragment is-2">
          {{ fragments.triangle( type="2", rotate="left" ) }}
        </div>
      </div>
      <div class="service-section columns">
        <div class="column is-7">
          <div class="service-section__content">
            <h3 class="service-section__heading">
              <span>見出しが入ります</span>
            </h3>
            <p class="service-section__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            <p class="service-section__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          </div>
        </div>
        <div class="column is-5">
          <div class="service-section__img">
            <img src="/img/service/service-01.jpg" alt="">
          </div>
        </div>
        <div class="service-section__fragment is-3">
          {{ fragments.triangle( type="3", speed="slow", rotate="left" ) }}
        </div>
        <div class="service-section__fragment is-4">
          {{ fragments.triangle( type="4" ) }}
        </div>
        <div class="service-section__fragment is-5">
          {{ fragments.triangle( type="2", speed="fast" ) }}
        </div>
      </div>
      <div class="service-section columns">
        <div class="column is-7">
          <div class="service-section__content">
            <h3 class="service-section__heading">
              <span>見出しが入ります</span>
            </h3>
            <p class="service-section__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            <p class="service-section__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          </div>
        </div>
        <div class="column is-5">
          <div class="service-section__img">
            <img src="/img/service/service-01.jpg" alt="">
          </div>
        </div>
        <div class="service-section__fragment is-6">
          {{ fragments.triangle( type="1", speed="fast", rotate="left" ) }}
        </div>
        <div class="service-section__fragment is-7">
          {{ fragments.triangle( type="3", speed="slow" ) }}
        </div>
        <div class="service-section__fragment is-8">
          {{ fragments.triangle( type="1", speed="fast" ) }}
        </div>
      </div>
    </div>
  </section>
</div>
