{%- import "../_module/components/headings.njk" as headings -%}

<div class="container">
  <section class="section">
    {{ headings.h2( text="VOICES", subText="お客様の声" ) }}
    <div class="voices-section">
    </div>
  </section>
</div>
