{%- import '../_module/components/headings.njk' as headings -%}

<div class="container">
  <section class="section">
    {{ headings.h2( text='VOICES' ) }}
    <div class="voices-section">
    お客様の声
    </div>
  </section>
</div>
