{% macro list( items )%}

<div class="info-list">
  {% for item in items %}
    <dl class="info-list__item">
      <dt>{{ item.term }}</dt>
      <dd>{{ item.description | safe }}</dd>
    </dl>
  {% endfor %}
</div>

{% endmacro %}
