<!-- メタデータ -->
{% include './head-meta.njk' %}

<!-- 構造化データ -->
{% include './head-schema.njk' %}

<!-- ロード画面 -->
{% include '../components/loader/loader-style.njk' %}
{% include '../components/loader/loader-script.njk' %}

<!-- 読み込みファイル -->
{% include './head-files.njk' %}
