<h2 class="is-size-2">サービス一覧</h2>

.columns
  .column.is-one-third
    //- include service-list01.html
    //- include service-list02.html
    //- include service-list03.html
    include service-list04.html
