<h2 class="is-size-2">カード</h2>

.columns
  .column.is-one-third
    //- include card01.html
    //- include card02.html
    //- include card03.html
    //- include card04.html
    //- include card05.html
    //- include card06.html
    //- include card07.html
    include card08.html
