$BLOCK_NAME: '.section-event';

#{ $BLOCK_NAME } {
  justify-content: space-between;
  opacity: 0;
  transition: all Dur(slow) Ease();
  transform: translateY(24px);
  @at-root .is-animated & {
    opacity: 1;
    transform: translateY(0);
  }
}
