$BLOCK_NAME: '.hero-section';

#{ $BLOCK_NAME } {
  position: relative;
  margin-bottom: 32px;

  &__content {
    width: 50%;
    padding: 24px 0;
  }

  &__title {
    font-size: 68px;
    font-weight: bold;
    line-height: 1.2;
    color: transparent;
    background: Grad();
    -webkit-background-clip: text;
    background-clip: text;
  }

  &__lead {
    margin-top: 32px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.75;
  }

  &__news {
    margin-top: 32px;
  }

  &__bg {
    position: absolute;
    bottom: -100px;
    left: 50%;
    z-index: -2;
    width: 1000px;
    opacity: 0.3;
    fill: Color(primary);
    transform: rotate(15deg);
  }

  &__fragment {
    position: absolute;
    z-index: -1;
    &.is-1 {
      top: 20px;
      left: -50px;
    }
    &.is-2 {
      top: 20%;
      right: -120px;
    }
    &.is-3 {
      top: 60px;
      left: 50%;
    }
    &.is-4 {
      bottom: 60px;
      left: -100px;
    }
    &.is-5 {
      right: 30%;
      bottom: 40%;
    }
    &.is-6 {
      right: -60px;
      bottom: 20%;
    }
  }
}
