$BLOCK_NAME: '.voices-section';

#{ $BLOCK_NAME } {
  position: relative;
  padding-bottom: 12px;

  &__content {
    opacity: 0;
    transition: all Dur() Ease();
    transform: translateY(24px);
    @at-root #{ $BLOCK_NAME }.is-animated & {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__fragment {
    position: absolute;
    z-index: -1;
    &.is-1 {
      top: 0;
      right: 30px;
    }
    &.is-2 {
      top: 120px;
      right: 30%;
    }
    &.is-3 {
      display: none;
      @include Mq(tb) {
        top: 90px;
        left: 50%;
        display: block;
      }
    }
    &.is-4 {
      bottom: -90px;
      left: 70%;
      @include Mq(tb) {
        left: 30%;
      }
    }
    &.is-5 {
      bottom: -30px;
      left: 15%;
    }
    &.is-6 {
      display: none;
      @include Mq(tb) {
        right: 20%;
        bottom: 10px;
        display: block;
      }
    }
  }
}
