<h2 class="is-size-2">ボタン</h2>

//- include button01.html
//- include button02.html
//- include button03.html
//- include button04.html
//- include button05.html
//- include button06.html
//- include button07.html
//- include button08.html
//- include button09.html
//- include button10.html
//- include button11.html
//- include button12.html
//- include button13.html
//- include button14.html
//- include button15.html
//- include button16.html
//- include button17.html
//- include button18.html
//- include button19.html
//- include button20.html
//- include button21.html
include button22.html
