<h2 class="is-size-2">ボタン</h2>

//- include button01.html
//- include button02.html
//- include button03.html
//- include button04.html
//- include button05.html
//- include button06.html
//- include button07.html
//- include button08.html
include button09.html
